 

nav {
    background: gray;
}

body {
    font-size: 18px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: papayawhip;
    background-image: url("../images/dark-grey-terrazzo.png");
    background-repeat: fixed;
    min-height: calc(100vh - 70px);
}

.name {
    color: papayawhip;
    font-size: 40px;
    margin-left: 100px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
}

.bio_img {
    float: left;
    margin-right: 10px;
    width: 30%;
    border-radius: 15px;
}

.container {
    width: 100%;
    margin: 0 auto;
    clear: both;
    background: gray;
    padding: 20px;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
}   

h1, h2, h3, p {
    margin-bottom: 20px;
}

.work {
    display: inline-block;
    width: 255px;
    height: 225px;
    overflow: auto;
    position: relative;
    margin: 20px  20px;
    border-radius: 10px;
}      

img {
    width: 100%;
    height: 100%;
    border: 0 none;
    opacity: .8;
}

h3 {
    border-bottom: 0px;
    color: papayawhip;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 100%;
    line-height: 35px;
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 32px;
}

/* Rotates images on hover. */
.work:hover {
	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

.work:hover {
    border: 3px solid yellow;
}

h1:hover {
    color: gold;
}

img:hover {
    opacity: 1;
}

p:hover {
    color: blue;
}

.l-1 {
    color: blue;
}

a:hover {
    color: gold;
}

.g-1 {
    color: papayawhip;
}

.p-1 {
    color: yellow;
}

.e-1 {
    color:plum;
}

.play {
    margin: 10px;
}

.stop {
    margin: 10px;
}

/*footer*/
footer {
    background: #666666;
    color: #fff;
    padding: 10px;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    width: 100%; 
    position: fixed;
    bottom: 0px;
    height: 50px;   
}  
